In [2]:
 import pandas as pd

In [4]:
data = pd.read_csv("sample_data/hepatitis_csv.csv")

In [5]:
data.head()

   age     sex steroid  antivirals  ... albumin protime histology class
0   30    male   False       False  ...     4.0     NaN     False  live
1   50  female   False       False  ...     3.5     NaN     False  live
2   78  female    True       False  ...     4.0     NaN     False  live
3   31  female     NaN        True  ...     4.0    80.0     False  live
4   34  female    True       False  ...     4.0     NaN     False  live

[5 rows x 20 columns]